@charset "UTF-8";

/*

    Em HTML é id    = em CSS é # (só pode um elemento)
    Em HTML é class = em CSS é . (pode varios elementos)

*/

body{
    background-color: rgb(168, 255, 168);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 99, 0);
}
h2{
    color: rgb(14, 143, 14);
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 15px;
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}
.destaque{
    background-color: rgb(243, 243, 123);
    border-radius: 15px;
}
